* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
}
.active-library {
  margin-left: 25%;
}

body {
  font-family: 'Lato', sans-serif;
}

h3,h4 {
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .active-library {
    margin-left: 35%;
  }
}

@media screen and (max-width: 550px) {
  .blur {
    filter: blur(3px);
  }
}

@import './player.scss';
@import './song.scss';
@import './library.scss';
@import './nav.scss';
