.song {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 300px;
    width: 100%;
    border-radius: 50%;
  }
  h2 {
    padding: 25px 15px 15px;
  }
  h3 {
    font-size: 18px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.song_animation {
  animation: rotate 20s linear forwards infinite;
}

@media screen and (max-width: 700px) {
  .song {
    img {
      max-width: 250px;
    }
  }
}

@media screen and (max-width: 550px) {
  .song {
    img {
      max-width: 200px;
    }
  }
}
